---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a class="nav-link" href="{{ post.url }}">{{ post.title }}</a>
    </h1>

    <span class="post-date">{{ post.date | date: '%Y-%m-%d' }}</span>
    <span class="post-exerpt">
      {{ post.excerpt }}
      <a class="nav-link" href="{{ post.url }}">Read More...</a>
    </span>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="nav-link" href="/blog/{{ paginator.next_page }}/">&laquo; previous</a>
  {% endif %}
  {% if paginator.next_page and paginator.previous_page %}
    <span> | </span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="nav-link" href="/">next &raquo;</a>
    {% else %}
      <a class="nav-link" href="/blog/{{paginator.previous_page}}/">next &raquo;</a>
    {% endif %}
  {% endif %}
</div>

