---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a class="nav-link" href="{{ post.url }}">{{ post.title }}</a>
    </h1>

    <div class="post-date">{{ post.date | date: '%Y-%m-%d' }}</div>
    <div class="post-content">
      {% if post.preview_pic %}
        <a href="{{ post.url }}">
          <img class="preview-pic" src="{{ post.preview_pic }}" style="float: right; margin: 0">
        </a>
      {% endif %}
      {{ post.excerpt }}
    </div>
    <br><a class="nav-link" href="{{ post.url }}">Read on &raquo;</a>
    <hr>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="nav-link" href="/blog/{{ paginator.next_page }}/">&#8592; previous</a>
  {% endif %}
  {% if paginator.next_page and paginator.previous_page %}
    <span> | </span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="nav-link" href="/">next &#8594;</a>
    {% else %}
      <a class="nav-link" href="/blog/{{paginator.previous_page}}/">next &#8594;</a>
    {% endif %}
  {% endif %}
</div>
