<div class="post-meta">
    <div class="post-date">
        <i class="fa-solid fa-calendar"></i>
        <span>{{ post.date | date: date_format }}</span>
    </div>
    {%- if post.tags.size > 0 -%}
    <div class="post-tags">
        <i class="fa-solid fa-tags"></i>
        {% for tag in post.tags %}
        <span>{{tag}}</span>
        {% endfor %}
    </div>
    {%- endif -%}
    <div class="post-reading">
        <i class="fa-solid fa-stopwatch"></i>
        {%- assign num_words = post.content | number_of_words -%}
        {%- if num_words < 360 -%} <span>1min</span>
            {%- else -%}
            <span>{{ num_words | divided_by: 180.0 | round }}min</span>
            {%- endif -%}
    </div>
</div>
