/* Base */
/* ----------------------------------------------------------*/

@font-face {
  font-family: serifa;
  src: url('fonts/Serifa 55 Roman.ttf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 200;
  background-color: white;
}

/* link color and decoration*/
a {
  color: #4292c6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.site-link {
  font-size: 18px;
  color: #303030;
  webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.site-link:hover {
  color: #807dba;
  text-decoration: none;
}

.post-link {
  color: #303030;
  webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.post-link:hover {
  color: #807dba;
  text-decoration: none;
}

.post-meta {
  color: #818181;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.post-meta i,
.post-meta span {
    margin-right: 4px;
}
.post-meta .post-date {
  margin-right: 15px;
  display: inline;
}
.post-meta .post-tags {
  display: inline;
}

.nav-link{
  padding: 5px;
  border-radius: 7px;
  color: #303030;
  background-color: white;
  webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}
.nav-link:hover {
  color: white;
  background-color: #807dba;
  text-decoration: none;
}

.site-title {
  font-family: serifa;
  letter-spacing: -1px;
}
.site-header .site-title {
  font-size: 28px;
  line-height: 65px;
  display: block;
  vertical-align: middle;
  float: left;
  position: relative;
  z-index: 1;
}
.site-footer .site-title {
  font-size: 24px;
}


/* Utility */

.wrap:before,
.wrap:after { content: ""; display: table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* =========== */
/* SITE HEADER */

.site-header {
  border-top: 5px solid #303030;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f0f0f0;
  min-height: 65px;
}

.site-nav {
  float: right;
  line-height: 65px;
}

.site-nav .menu-icon { display: none; }

.site-nav .site-link {
  margin-left: 20px;
  font-size: 20px;
}

/* =========== */
/* SITE FOOTER */

.site-footer {
  border-top: 1px solid #e0e0e0;
  border-bottom: 5px solid #303030;
  padding: 15px 0;
  background-color: #f0f0f0;
}

.site-footer .fa-fw {
  text-align: left;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.footer-top {
  margin-bottom: 15px;
  font-size: 22px;
}
.footer-bottom {
  font-size: 15px;
  color: #555555
}

.site-footer ul { list-style: none; }
.site-footer li { display: inline; }


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #ffffff;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style: none; }
.posts li { margin-bottom: 5px; }

.preview {
  margin-bottom: 50px;
}

.preview .preview-content {
  display: flex;
  align-items: center;
}
.preview .preview-excerpt {
  flex: 1;
  min-width: 100px;
  align-self: flex-start;
}

.preview-excerpt p {
  display: inline;
}

.preview .preview-pic {
  width: 33%!important;
  max-height: 250px;
  margin-left: 20px;
}

.preview-pic img {
  display: block;
  margin: auto!important;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.post-title {
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: 200;
}


#disqus_thread {
    margin-top: 20px;
}

/* Post styles */
/* ----------------------------------------------------------*/

header h1 {
  font-size: 34px;
  letter-spacing: -1.75px;
  font-weight: 300;
  margin-bottom: 10px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  font-weight: 300;
  margin: 40px 0 20px;
}

.post-content h2 {
  font-size: 32px;
  letter-spacing: -1.25px;
}

.post-content h3 {
  font-size: 28px;
  letter-spacing: -1.125px;
}

.post-content h4 {
  font-size: 24px;
  letter-spacing: -1px;
}

.post-content h5 {
  font-size: 20px;
  letter-spacing: -0.875px;
}

.post-content h6 {
  font-size: 16px;
  letter-spacing: -0.75px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #e0e0e0;
  background-color: #f0f0f0;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow: auto;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #303030;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #303030; }

.post figcaption {
  text-align: center;
}

.post img,
.post iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post img.halfw {
  width: 50%;
}
.post img.tqw {
  width: 75%;
}
.post img.fullw {
  width: 100%;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #807d7c; font-style: italic }
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #807d7c; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #807d7c; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #4292c6 } /* Import */ 
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #00ab56 } /* Literal.Number */
.highlight .s { color: #fb6a4a } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #4292c6 } /* Name.Builtin */ 
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #807dba; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #807dba; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #00ab56 } /* Literal.Number.Float */
.highlight .mh { color: #00ab56 } /* Literal.Number.Hex */
.highlight .mi { color: #00ab56 } /* Literal.Number.Integer */ 
.highlight .mo { color: #00ab56 } /* Literal.Number.Oct */
.highlight .sb { color: #fb6a4a } /* Literal.String.Backtick */
.highlight .sc { color: #fb6a4a } /* Literal.String.Char */
.highlight .sd { color: #fb6a4a } /* Literal.String.Doc */
.highlight .s2 { color: #fb6a4a } /* Literal.String.Double */
.highlight .se { color: #fb6a4a } /* Literal.String.Escape */
.highlight .sh { color: #fb6a4a } /* Literal.String.Heredoc */
.highlight .si { color: #fb6a4a } /* Literal.String.Interpol */
.highlight .sx { color: #fb6a4a } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #fb6a4a } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #4292c6 } /* Name.Builtin.Pseudo #999999 */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #00ab56 } /* Literal.Number.Integer.Long */


/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }

  .site-footer .column {
    float: none;
    clear: both;
    width: auto;
    margin: 0 0 15px; }

}
