<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: 'en' }}" class="no-js">

  {% include head.html %}

  <body class="layout-{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <!-- TODO: get rid of this maybe? -->
    <a name="top"></a>
    <!-- TODO: also get rid of header, replace it with masthead -->
    {% include header.html %}

    <div class="page__content page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include comments.html %}

    <div id="footer" class="page__footer">
      {% include_cached footer.html %}
    </div>

  </body>

</html>
