---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% include post_meta.html %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<!--
<div class="post-nav">
  {% if page.previous.url %}
  <a class="nav-link" href="{{ page.previous.url | prepend: site.baseurl }}" title="{{ page.previous.title }}">&#8592;
    previous</a>
  {% endif %}
  <a class="nav-link" href="#top">&#8593;</a>
  {% if page.next.url %}
  <a class="nav-link" href="{{ page.next.url | prepend: site.baseurl }}" title="{{ page.next.title }}">next &#8594;</a>
  {% endif %}
</div> -->
